h2[id="red"]{
    color: red;
}

#orange{
    color: orange;
}

#green{
    color: green;
}
#yellow{
    color: yellow;
}
#blue{
    color: blue;
}

.color-title{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}